---
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const photoEntries = await getCollection('photos')
  return photoEntries.map((entry) => ({

    params: {
      category: entry.data.category,
      slug: entry.data.slug,
    },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<div>
  <img src={entry.data.images[0].src} />
</div>
