/* Typography */

/* Setze IBM Plex Sans als Standard-Schriftart für alle Elemente */
* {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Überschreibe die Schriftart für p-Elemente */
p {
  font-family: 'IBM Plex Serif', serif;
}

/* Masonry*/
:root {
  --masonry-width: 18%;
}
/* fluid 5 columns */
.grid-sizer {
width: var(--masonry-width)
} 
.grid-item {
  float: left;
  width: var(--masonry-width);
  padding: 0.5%;
}
/* 2 columns */
.grid-item--width2 {
width: calc(var(--masonry-width) * 2);
}