---
import '../styles/global.css'

import { getCollection } from "astro:content";

import { Image } from "astro:assets";


const fotos = (await getCollection('fotos'));
const allTags = new Set(fotos.flatMap(tag => tag.data.tags))
---
<h1>Collection-Masonry-Test</h1>

<div class="filter-button-group">
  <button class="is-checked" data-filter="*">show all</button>
  {
    Array.from(allTags).map((tag) => (
      <button data-filter={`.${tag}`}>{tag}</button>
    ))
  }
</div>
<div class="isotope-grid ">
<div class="isotope-grid-sizer"></div>
    {fotos.map(foto =>(
        
        <div class="isotope-grid-item" data-tags={foto.data.tags.join(' ')}>
        <Image
        src={foto.data.image.src}
    alt={foto.data.image.alt}
    sizes="(max-width: 768px) 100vw, 33vw" 
        />
        
        <span></span>
    </div>
    ))}
    </div>
<!-- Am Ende deiner Datei -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    const elem = document.querySelector('.isotope-grid');
    if (window.Isotope && elem) {
      new Isotope(elem, {
        itemSelector: '.isotope-grid-item',
        percentPosition:true,
        masonry: {
            columnWidth: '.isotope-grid-sizer',
            gutter:8
      }
    }
  )}
})
</script>