---
import '../styles/global.css';
import { getCollection } from "astro:content";
import IsotopeGallery from '../components/IsotopeGallery.astro';

const fotos = (await getCollection('fotos'));
const allTags = new Set(fotos.flatMap(foto => foto.data.tags));

const isotopeOptions = {
  layoutMode: 'masonry',
  // columnWidth and gutter will be handled by the component's internal responsive logic
  // but can be overridden here if needed.
};
---

<h1>Collection-Masonry-Test</h1>

<IsotopeGallery fotos={fotos} allTags={allTags} isotopeOptions={isotopeOptions} />