---
import '../styles/global.css'
import { Masonry } from 'astro-masonry';
import { getCollection } from "astro:content";

import { Image } from "astro:assets";


const fotos = (await getCollection('fotos'));
const allTags = new Set(fotos.flatMap(tag => tag.data.tags))
---
<h1>Collection-Masonry-Test</h1>

<div class="filter-button-group">
  <button class="is-checked" data-filter="*">show all</button>
  {
    Array.from(allTags).map((tag) => (
      <button data-filter={`.${tag}`}>{tag}</button>
    ))
  }
</div>
<Masonry
breakpointCols={{
  default: 5,
  1160: 4,
  768: 3,
  500: 2,

}}>

  {fotos.map(foto =>(
    
    <div  data-tags={foto.data.tags.join(' ')}>
        <Image
        src={foto.data.image.src}
        alt={foto.data.image.alt}
        />
        
    </div>
    ))}
    </Masonry>
