---
---
<hr />
  <footer class="u-grid padding-bottom" style="align-items: baseline">
    <div class="four-column-item">
      <a href="/">
        <img src="/logo-silberblick.svg" alt="SILBERBLICK - Fotograf Berlin" width="120"
          style="height: auto; max-width: 100%" />
      </a>
    </div>
    <div class="four-column-item nav-link u-step-02">
      <a class="nav-link u-step-02 display-block" href="/impressum/">Impressum</a>
      <a class="nav-link u-step-02 display-block" href="/datenschutz/">Datenschutz</a>
    </div>

    <div class="four-column-item " data-h-card>
      <div>
        <a class="nav-link u-step-02" data-p-tel href="tel:+491605535613"><span>Telefon:</span><span data-p-value>+49
            160
            5535613</span></a>
      </div>
      <div>
        <a class="nav-link u-step-02" data-p-email href="mailto:d.g.kause@gmail.com"><span>E-Mail: </span><span
            data-p-email-value="">d.g.kause@gmail.com</span></a>
      </div>
    </div>
    <div class="four-column-item">
      <address class="u-step-02">
        <div class="font-sans" data-h-card>
          <span data-p-name>Daniel Kause</span><br />
          <span data-p-org>SMartde eG</span><br />
          <div data-p-adr>
            <span data-p-street-address>Wilhelmstr. 150</span><br />
            <span data-p-postal-code>10963</span>
            <span data-p-locality>Berlin</span><br />
            <span data-p-country-name>Deutschland</span>
          </div>
        </div>
      </address>
    </div>
  </footer>