---
---
<header>
    <nav class="u-grid" style="align-items: baseline;">
      <a href="/" class="logo two-column-item">
        <img src="/logo-silberblick.svg" alt="SILBERBLICK - Fotograf Berlin" width="120"
          style="height: auto; max-width: 100%" />
      </a>
      <div class="nav-container two-column-item">
        <input type="checkbox" id="nav-toggle" class="hidden">
        <label for="nav-toggle" class="nav-hamburger">&#x2630;
        </label>
        <ul class="nav-list nav-list--right">
     
          <li>
            <a href="/preise">Preise</a>
          </li>
          <li>
            <a href="/termine">Termine</a>
          </li>
          <li>
            <a class="no-wrap" href="/der-fotograf">der Fotograf</a>
          </li>
          <li>
            <a href="/kontakt">Kontakt</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>