---
import PortfolioNavigation from './PortfolioNavigation.astro'
import Logo from './Logo.astro'

export interface Props {
  currentPath?: string
}

const { currentPath } = Astro.props
---

<nav>
  <Logo />

  <ul>
    <li>
      <a
        href="/businessfotografie/"
        aria-current={currentPath === '/businessfotografie/'
          ? 'page'
          : undefined}>Business</a
      >
    </li>
    <li>
      <a
        href="/architekturfotografie/"
        aria-current={currentPath === '/architekturfotografie/'
          ? 'page'
          : undefined}>Architektur</a
      >
    </li>
    <li>
      <a
        href="/portraitfotografie/"
        aria-current={currentPath === '/portraitfotografie/'
          ? 'page'
          : undefined}>Portraits</a
      >
    </li>
    <li>
      <a
        href="/der-fotograf/"
        aria-current={currentPath === '/der-fotograf/' ? 'page' : undefined}
        >der Fotograf</a
      >
    </li>
    <li>
      <a
        href="/kontakt/"
        aria-current={currentPath === '/kontakt/' ? 'page' : undefined}
        >Kontakt</a
      >
    </li>
  </ul>
</nav>
